.comic-detail-wrapper {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 20px;

  .loading_page {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .delete-comic-btn {
    transition: all 0.3s ease;
    user-select: none;
    background-color: #b32020;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }
  }
  .comic-cover-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 2px solid #dee2e6;
  }

  .comic-detail-body {
    background-color: #f9f9f9;
  }

  h6 {
    font-weight: 600;
    color: #333;
  }

  .badge {
    font-size: 15px;
    padding: 6px 12px;
  }

  .text-muted {
    font-size: 15px;
  }
}
.newchap {
  transition: all 0.2s ease;
  color: white;
  cursor: pointer;
  user-select: none;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    background-color: rgb(55, 87, 0);
    transform: scale(0.95);
  }
}

.add_cate {
  background-color: #333;
  color: white;
  font-size: small;
  transition: all 0.2s ease;
}
